.sumate_trabaja {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  h1 {
    font-size: 18px;
    text-decoration: underline;
  }
  &_p {
    padding-bottom: 20px;
    padding-top: 15px;
    margin: 0 auto;
    align-items: center;
    width: 80%;
    @include fsize(sm) {
      font-size: 16px;
    }
    @include fsize(md) {
      font-size: 18px;
    }
    @include fsize(lg) {
      font-size: 20px;
    }
  }
}
.sumate_forms {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 240px;
  gap: 30px;
  &_labels {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 5px;
  }
  &_inputs {
    display: flex;
    gap: 9px;
    flex-direction: column;
  }
  &_inputs_box {
    height: 20px;
  }
  &_sexo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 40px;
    font-size: 16px;
  }
  &_contenedor {
    display: flex;
    justify-content: center;
  }
  &_acepta {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 12px;
  }
  &_enviar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 15px;
    padding-top: 15px;
  }
  &_checkbox {
    width: 8%;
  }
}
.sumate_textarea {
  width: 80%;
  height: 120px;
}

/* Sumate Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sumate_trabaja {
    h1 {
      font-size: 20px;
      text-decoration: underline;
    }
  }
  .sumate_textarea {
    width: 60%;
    height: 120px;
  }
}

/* Sumate Desktop */
@media (min-width: 1024px) {
  .sumate {
    &_trabaja {
      padding-top: 80px;
      height: 200px;
    }
    &_trabaja_p {
      padding-top: 0px;
    }
    &_forms {
      height: 260px;
    }
    &_textarea {
      width: 660px;
      height: 120px;
    }
    &_forms_acepta {
      padding-top: 10px;
    }
    &_forms_checkbox {
      width: 2%;
    }
    h1 {
      font-size: 24px;
      text-decoration: underline;
    }
  }
}
